.landing-page {
  padding: var(--page-margin);
  display: grid;
  grid:
    "header header header header . ."
    ". . text text text text"
    ". cta cta cta cta ."
    / 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
  justify-items: center;

  /* grid-template-columns: repeat(6, 1fr); */
  row-gap: calc(var(--gap) * 3);
}

.landing-page h2 span {
  font-size: 2.618rem;
  background-color: var(--color);
  color: var(--background-color);
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  background-color: var(--background-color);
}

.landing-page > article:nth-child(1) {
  grid-area: header;
  text-align: center;
}

.landing-page > article:nth-child(2) {
  grid-area: text;
}

.landing-page > article:nth-child(3) {
  grid-area: cta;
  text-align: center;
  gap: calc(var(--gap) * 2);
}

.landing-page > article {
  padding: var(--margin);
  border: thin solid var(--border-color);
  box-shadow: var(--box-shadow);
  max-width: 35rem;
}

/* Mobile */
@media only screen and (max-width: 599px) {
  .landing-page {
    grid:
      "header"
      "text"
      "cta"
      / 1fr;
  }
}
