.contact-box {
  color: var(--background-color);
  display: flex;
  gap: calc(var(--gap) * 2);
  width: 100%;
  height: 100%;
  justify-content: end;
  flex-wrap: wrap;
}

/* Mobile */
@media only screen and (max-width: 599px) {
  .contact-box {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: center;
  }
}
