.project-card {
  background-color: var(--background-color);
  color: var(--color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: thin solid var(--border-color);
  box-shadow: var(--box-shadow);
  transition: all 0.4s ease-in-out;
  position: relative;
}

.project-card:hover {
  transform: translate(var(--shadow-offset), var(--shadow-offset));
  box-shadow: var(--box-shadow-hover);
}

.project-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  background-color: var(--background-color);
}
.project-card-content.hidden {
  visibility: hidden;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card .icons-container {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.project-card .name {
  margin: 0 auto 0 0;
}

.project-card .icons {
  height: auto;
  width: 1.4rem;
  min-width: 1.4rem;
  display: block;
}

.project-card-content > :not(a):not(.project-card-overlay) {
  margin: 0 var(--margin);
}

.project-card button.more {
  align-self: end;
  margin: auto var(--margin) var(--margin) auto;
}

.project-card-overlay {
  background-color: var(--background-color);
  color: var(--color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: calc(var(--margin) * 1.2) solid var(--background-color);
  border-bottom: calc(var(--margin) * 1.2) solid var(--background-color);
  border-radius: var(--border-radius);
  display: block;
  animation: moveUp 0.5s ease-in-out;
}

.project-card-overlay.move {
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.project-card-overlay .more-details {
  padding: 0 var(--margin);
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* Chrome padding bug */
  /* display: table; */
}

.project-card-overlay .more-details p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.project-card-overlay .more-details :first-child {
  margin-top: 0;
}

.project-card-overlay .more-details :last-child {
  margin-bottom: 0;
}

.project-card-overlay button {
  top: calc(-1.2 * var(--margin));
  right: 0;
  border: none;
  position: absolute;
  padding: 0;
  background-color: transparent;
}

.project-card-overlay button:hover .less-icon,
.project-card-overlay button:focus .less-icon {
  background-color: var(--hover-color);
}

.project-card-overlay img.less-icon {
  height: 1.8rem;
  width: 1.8rem;
  margin: calc(var(--margin) / 4);
  border-radius: 50%;
  transition: var(--transition);
}
