.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: space-between;
  gap: calc(var(--gap) * 3);
  grid-auto-rows: auto;
  padding: calc(var(--gap) * 6) var(--page-margin);
  position: relative;
}

.cta {
  margin: 0 0 calc(var(--gap) * 6) 0;
  padding: var(--margin) var(--page-margin);
  border-bottom: thin solid var(--border-color);
  border-top: thin solid var(--border-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--gap));
  align-items: center;
}

.cta h2 {
  margin: 0;
}