.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: space-between;
  gap: calc(var(--gap) * 3);
  grid-auto-rows: auto;
  padding: var(--page-margin);
}

.cta {
  margin-bottom: var(--page-margin);
  padding: var(--margin) var(--page-margin);
  border-bottom: thin solid var(--border-color);
  border-top: thin solid var(--border-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--gap));
  align-items: center;
}

.cta h2 {
  margin: 0;
}

/* Mobile */
@media only screen and (max-width: 599px) {
  .project-card-container {
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  }
}
