.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: space-between;
  gap: 3rem;
  grid-auto-rows: auto;
  margin: 3rem var(--page-margin);
}



/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 990px) {}

/* Desktop */
@media only screen and (min-width: 991px) and (max-width: 1179px) {}

/* Desktop Wide */
@media only screen and (min-width: 1180px) {}
