.hero.form {
  grid:
    "h1 box" 1fr
    ". box" 1fr
    / 1fr auto;
  gap: calc(var(--gap) * 3);
}

@media only screen and (max-width: 767px) {
  .hero.form {
    grid:
      "h1" auto
      "box" auto
      / 1fr;
  }
}

#contact-form {
  height: 100%;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  position: relative;
}

#contact-form p {
  font-weight: 600;
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 0.5rem 0.7rem;
}

#contact-form label {
  font-weight: 600;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
  transition: var(--transition);
  position: relative;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
}

#contact-form input,
#contact-form textarea {
  height: 1.35rem;
  padding: 0;
  margin: 0;
  margin-top: 0.2rem;
}

#contact-form label span::after {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  color: var(--color);
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  transition: var(--transition);
  transform: translate(0.3rem, -0.3rem);
}

#contact-form input:not(:placeholder-shown):invalid:focus + span::after {
  content: "ungültig";
  display: block;
  background-color: #fef200;
}

#contact-form input:not(:placeholder-shown):valid + span::after,
#contact-form textarea:not(:placeholder-shown):valid + span::after {
  content: "gültig";
  display: block;
  background-color: rgb(55, 255, 45);
}

#contact-form button {
  color: var(--background-color);
  background-color: var(--secondary-color);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1.4rem;
  width: min-content;
  align-self: flex-end;
}

#contact-form textarea {
  resize: vertical;
}

#contact-form label:last-of-type {
  height: 30vh;
}

/*  */

#contact-form label:focus-within,
#contact-form button:hover,
#contact-form button:focus {
  background-color: var(--secondary-color-hover);
}
