@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;600&family=Krona+One&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
}

:root {
  --shadow-color: rgb(224, 224, 224);
  --shadow-offset: 6px;
  --box-shadow: var(--shadow-offset) var(--shadow-offset) 0px
    var(--shadow-color);
  --box-shadow-hover: 0px 0px 0px var(--shadow-color);
  --hover-color: rgb(237, 237, 237);
  --border-color: rgb(0, 0, 0);
  --color-mid: rgb(72, 72, 72);
  --secondary-color: rgb(104, 55, 218);
  --border-radius: 0px;
  --background-color: rgb(255, 255, 255);
  --color: rgb(0, 0, 0);
  --page-margin: 5rem; /* no % allowed */
  /* space between element and a outer element */
  --margin: 2rem;
  /* space between to siblings */
  --gap: 1rem;
  --nav-height: 4.5rem;
  --scale: scale(1.05);
  --transition: all 0.2s ease-in-out;
  font-family: "Hanken Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

button,
.button {
  appearance: none;
  background: none;
  font-family: inherit;
  font-size: 0.8rem;
  border: none;
  background-color: var(--background-color);
  color: var(--color);
  border: thin solid var(--border-color);
  padding: 0.5em 1.5em;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  margin: 0;
  width: fit-content;
  text-decoration: none;
  display: block;
}

:not(.project-card-content):not(.project-card-overlay) > button,
:not(.project-card-overlay) .button {
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: var(--hover-color);
}

:not(.project-card-content):not(.project-card-overlay) > button:hover,
:not(.project-card-content):not(.project-card-overlay) > button:focus,
.button:focus,
.button:hover {
  transform: var(--scale);
  background-color: var(--secondary-color);
  filter: hue-rotate(-20deg);
  color: var(--background-color);
}

img.icons {
  transition: var(--transition);
}

img.icons:hover,
img.icons:focus {
  transform: var(--scale);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

#scroll-to {
  /* add scroll margin */
  scroll-margin-top: var(--nav-height);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 1rem;
  font-weight: 400;
}

.wrapper {
  display: contents;
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 990px) {
}

/* Desktop */
@media only screen and (min-width: 991px) and (max-width: 1179px) {
}

/* Desktop Wide */
@media only screen and (min-width: 1180px) {
}
