@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/hanken-grotesk-v5-latin-300.woff2") format("woff2"),
    url("./fonts/hanken-grotesk-v5-latin-300.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/hanken-grotesk-v5-latin-600.woff2") format("woff2"),
    url("./fonts/hanken-grotesk-v5-latin-600.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/krona-one-v14-latin-regular.woff2") format("woff2"),
    url("./fonts/krona-one-v14-latin-regular.woff") format("woff");
}

:root {
  --h-2: 1.618rem;
  --shadow-color: rgb(215, 211, 217);
  --shadow-offset: 6px;
  --box-shadow: var(--shadow-offset) var(--shadow-offset) 0px
    var(--shadow-color);
  --box-shadow-hover: 0px 0px 0px var(--shadow-color);
  --hover-color: var(--shadow-color);
  --border-color: rgb(0, 0, 0);
  --secondary-color: rgb(104, 55, 218);
  --border-radius: 0px;
  --background-color: hsl(285, 40%, 98%);
  --color: rgb(0, 0, 0);
  --page-margin: 5rem;
  --margin: 2rem;
  --gap: 1rem;
  --nav-height: 5rem;
  --scale: scale(1.05);
  --transition: all 0.4s ease-in-out;
  font-family: "Hanken Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
}

h1 {
  font-size: 6.854rem;
  font-weight: 700;
}

h2 {
  font-size: var(--h-2);
}

img {
  max-width: 100%;
  height: auto;
}

button,
.button {
  appearance: none;
  background: none;
  font-family: inherit;
  font-size: 0.8rem;
  border: none;
  background-color: var(--background-color);
  color: var(--color);
  border: thin solid var(--border-color);
  padding: calc(var(--gap) * 0.5) calc(var(--gap) * 1.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  margin: 0;
  width: fit-content;
  text-decoration: none;
  display: block;
}

:not(.project-card-content):not(.project-card-overlay) > button,
:not(.project-card-overlay) .button {
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-size: var(--h-2);
  padding: var(--gap) calc(var(--gap) * 3);
  font-weight: 600;
  border: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: var(--hover-color);
}

:not(.project-card-content):not(.project-card-overlay) > button:hover,
:not(.project-card-content):not(.project-card-overlay) > button:focus,
.button:focus,
.button:hover {
  transform: var(--scale);
  background-color: var(--secondary-color);
  filter: hue-rotate(20deg) brightness(1.2);
  color: var(--background-color);
}

img.icons {
  transition: var(--transition);
}

img.icons:hover,
img.icons:focus {
  transform: var(--scale);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

main {
  overflow-x: hidden;
  position: relative;
}

#scroll-to {
  /* add scroll margin */
  scroll-margin-top: var(--nav-height);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--background-color);
}

.wrapper {
  display: contents;
}

/* Desktop */
@media only screen and (max-width: 1179px) {
  /* 1.414 */
  :root {
    --page-margin: 3.8rem;
    --margin: 1.8rem;
    --gap: 0.9rem;
    --nav-height: 4.5rem;
    --h-2: 1.414rem;
  }

  h1 {
    font-size: 5.653rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 990px) {
  /* 1.333 */
  :root {
    --page-margin: 3.1rem;
    --margin: 1.6rem;
    --gap: 0.8rem;
    --nav-height: 4rem;
    --h-2: 1.333rem;
  }

  h1 {
    font-size: 4.209rem;
  }
}

/* Tablet Portrait */
@media only screen and (max-width: 767px) {
  /* 1.333 */

  :root {
    --page-margin: 2.3rem;
    --margin: 1.4rem;
  }
  h1 {
    font-size: 3.157rem;
  }
}

/* Mobile */
@media only screen and (max-width: 599px) {
  /* 1.2 */

  :root {
    --page-margin: 1.6rem;
    --margin: 1.2rem;
    --gap: 0.5rem;
    --nav-height: 3.2rem;
    --h-2: 1.125rem;
  }
  h1 {
    font-size: 2.074rem;
  }
}

/* Old Mobile */
@media only screen and (max-width: 360px) {
  :root {
    --gap: 0.3rem;
    --h-2: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  footer {
    font-size: 0.833rem;
    --gap: 0.5rem;
  }
}

/* TODO:
- Schriften Local
*/
