nav#nav {
  display: flex;
  height: var(--nav-height);
  background-color: var(--color);
  color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--color);
}

.blub {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  mix-blend-mode: difference;
}

nav#nav svg {
  color: var(--background-color);
  margin: 0.4rem 0.4rem 0.4rem var(--page-margin);
  margin-right: auto;
}

nav#nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav#nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--margin);
  text-decoration: none;
  color: var(--background-color);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Krona One', sans-serif;
  font-size: 1.7rem;
}

nav#nav ul li:last-child {
  margin-right: var(--page-margin);
}

nav#nav ul li a:hover,
nav#nav ul li a:focus {
  background-color: var(--background-color);
  color: var(--color);
}

