nav#nav {
  display: flex;
  height: var(--nav-height);
  background-color: var(--color);
  color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 var(--page-margin);
  z-index: 2;
  background-color: var(--color);
}

nav#nav svg {
  color: var(--background-color);
  margin: calc(var(--margin) / 5) 0;
  margin-right: auto;
}

nav#nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav#nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--gap) * 1.5);
  text-decoration: none;
  color: var(--background-color);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Krona One', sans-serif;
  font-size: 1.7rem;
}

nav#nav ul li a:hover,
nav#nav ul li a:focus {
  background-color: var(--background-color);
  color: var(--color);
}

nav#nav a.nav-active {
  text-decoration: underline;
}